---
import ProjectCard from "@components/ProjectCard.astro";
import Default from "@layouts/Default.astro";

const headers = new Headers({
	"User-Agent": "spiritgamestudios/landing, @worldwidepixel or @callmeecho on discord.",
});
const collection_data = await (
	await fetch("https://api.modrinth.com/v3/collection/nufo4NkE", {
		headers: headers,
	})
).json();
const projects = await (
	await fetch(`https://api.modrinth.com/v3/projects?ids=${JSON.stringify(collection_data.projects ?? [])}`, {
		headers: headers,
	})
).json();
---

<Default title="Projects">
	<div class="flex flex-col gap-6">
		<h1 class="spirit-heavy">Projects.</h1>
		<span>Here are projects made by Spirit Studios.</span>
		{
			projects[0] ? (
				projects
					.sort((a: any, b: any) => a.name.localeCompare(b.name))
					.map(
						(project: {
							name: any;
							summary: any;
							icon_url: any;
							gallery: any;
							link_urls: any;
							slug: any;
						}) => (
							<ProjectCard
								title={project.name}
								summary={project.summary}
								icon={project.icon_url}
								gallery={project.gallery}
								links={project.link_urls}
								slug={project.slug}
							/>
						),
					)
			) : (
				<div />
			)
		}
	</div>
</Default>
