---
import ProjectCard from "../components/ProjectCard.astro";
import Default from "../layouts/Default.astro";
const headers = new Headers({
	"User-Agent": "spiritgamestudiosstudios/landing, @worldwidepixel or @callmeecho on discord.",
});
const projects = await (
	await fetch("https://api.modrinth.com/v3/organization/spirit/projects", {
		headers: headers,
	})
).json();
---

<Default title="Projects">
	<div class="flex flex-col gap-6">
		<span class="text-4xl font-thin tracking-wider sm:text-6xl">
			PROJECTS.
			<!-- Let's make this use the Modrinth API soon. -->
		</span>
		{
			projects[0] ? (
				projects.map(
					(project: { name: any; summary: any; icon_url: any; gallery: any; link_urls: any; slug: any }) => (
						<ProjectCard
							title={project.name}
							summary={project.summary}
							icon={project.icon_url}
							gallery={project.gallery}
							links={project.link_urls}
							slug={project.slug}
						/>
					),
				)
			) : (
				<div />
			)
		}
	</div>
</Default>
